<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Squeaker</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="container">
        <div class="row">
            <div class="col-2 col-lg-3">
                <div class="sticky-top">
                    {{>toolbar}}
                    {{>userpopover}}
                </div>
            </div>
            <div class="col-10 col-md-9 col-lg-5 border fill">
                <div class="thickbottomborder">
                    {{>trends}}
                </div>
                <div class="list-group">
                    <li class="list-group-item">
                        <h4>Trend Name Goes here</h4>
                    </li>
                </div>
                {{>wall}}
            </div>
            <div class="col-lg-4 d-lg-block d-none">
                <div class="sticky-top">
                    {{>search}}
                    {{>whotofollow}}
                    {{>copyright}}
                </div>
            </div>
        </div>
    </div>
</body>

</html>