<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Squeaker</title>
</head>

<body>
    <h1>Welcome to Squeaker!</h1>
    <form>
        <textarea type="text" /></textarea>
        <button>Squeak</button>
    </form>
</body>

</html>