<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Squeaker</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="container mt-4">
        <div class="d-flex flex-column justify-content-center row-hl text-center">
            <img src="/icons/rat.svg" class="mx-auto d-block mb-3" width="40em" height="40em">
            <h3 class="text-center my-2">Login To Squeaker</h3>
            <p id="warning"></p>
            <form>
                <div class="form-group">
                    <input type="email" class="form-control w-50 mx-auto" id="email" placeholder="E-mail">
                </div>
                <div class="form-group">
                    <input type="password" class="form-control w-50 mx-auto" id="password" placeholder="Password">
                </div>
                <button type="submit" class="btn btn-primary w-50">Login</button>
            </form>
            <a href="#">Sign Up</a>
        </div>
    </div>

</body>

</html>