<a href="#" class="list-group-item list-group-item-action">
    <div class="row no-gutters">
        <div class="col-2">
            <img class="img-fluid rounded-circle my-auto d-inline" src="https://source.unsplash.com/random/800x650"
                alt="" width="50px" height="50px">
        </div>
        <div class="col">
            <h5 class=" font-weight-bold  d-inline">User</h4>
                <small class="text-secondary d-inline">Handle</small>

        </div>
        <div>
            <small class="text-secondary d-inline">Date</small>
        </div>
        <small class="text-secondary mt-1">This is the messageThis is the messageThis is the messageThis is the
            messageThis is the message</small>
    </div>
</a>