<div class="list-group">
    <li class="list-group-item border-right-0 border-left-0">
        <div class="row">
            <input type="image" src="/icons/left.svg" class="form-control-file threadarrow mt-1"
                id="exampleFormControlFile1">
            <h5 class="ml-4"><strong>Thread</strong></h5>
        </div>
    </li>
    <div class="row">
        <div class="col-2">
            <img class="img-fluid rounded-circle profilemini ml-3 mt-1" src="https://source.unsplash.com/random/800x600"
                alt="">
        </div>
        <div class="col-10 mt-1">
            <h6 class="d-inline">Dude</h6>
            <p class="text-secondary">@someone</p>
        </div>
    </div>
    <div class="row">
        <div class="container mx-2">
            <h5 class="content">This is the squeak to be examinedThis is the squeak to be examinedThis is the squeak to
                be examinedThis is the squeak to be examinedThis is the squeak to be examined</h5>
        </div>
    </div>
    <div class="row">
        <div class="container mx-2">
            <p class="d-inline text-secondary">6:06 PM · May 5, 2020</p>
        </div>
    </div>
    <div class="border-top my-3 mx-2"></div>
    <div class="row">
        <div class="container mx-3">
            <p class="d-inline"><Strong>24</Strong></p>
            <p class="d-inline text-secondary"> Resqueaks</p>
            <p class="d-inline ml-3"><Strong>200</Strong></p>
            <p class="d-inline text-secondary"> Likes</p>
        </div>
    </div>
    <div class="border-top mt-3 mx-2"></div>
    {{>squeakactions}}
    <div class="border-top my-1"></div>
</div>