<div class="list-group">
    <li class="list-group-item border-right-0 border-left-0">
        <div class="row">
            <div class="col-1">
                <input type="image" src="/icons/left.svg" class="form-control-file threadarrow mt-3"
                    id="exampleFormControlFile1">
            </div>
            <div class="col">
                <h5 class=""><strong>User</strong></h5>
                <span class="text-secondary">X Squeaks</span>

            </div>
        </div>
    </li>
    <div class="row">
        <div class="">
            <div class="col">
                <img class="img-fluid headerimage" src="https://source.unsplash.com/random/" alt="">
            </div>
        </div>
    </div>

    <img class="rounded-circle profile-main" src="https://source.unsplash.com/random/500x500" alt="">
    <div class="row">
        <div class="col-2 ml-2 mt-1">
            <h5 class="d-inline"><strong>Dudemcdude</strong></h5>
            <p class="text-secondary">@someone</p>
        </div>
        <div class="col-4">

        </div>
        <div class="col">
            <button class="btn btn-dark headerbutton d-inline">Follow</button>
            <button class="btn btn-dark d-inline dmbutton"><img src="/icons/envelope.svg" class="mb-1" alt=""
                    width="20px" height="20px"></button>
        </div>
    </div>
    <div class="row">
        <div class="container mx-2">
            <p class="content">This is my biographyThis is my biographyThis is my biographyThis is my biography</p>
        </div>
    </div>
    <div class="row">
        <div class="d-flex justify-content-between container">
            <div class="col">
                <img src="/icons/link.svg" alt="" class="squeakbar d-inline"><a href="#" class="ml-2">somelink</a>
            </div>
            <div class="col">
                <img src="/icons/balloon.svg" alt="" class="squeakbar d-inline">
                <p class="text-secondary d-inline">Born June 22, 1995</p>
            </div>
            <div class="col">
                <img src="/icons/calendar.svg" alt="" class="squeakbar d-inline">
                <p class="text-secondary d-inline">joined June 22, 1995</p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="container mx-3">
            <p class="d-inline"><Strong>24</Strong></p>
            <p class="d-inline text-secondary"> Following</p>
            <p class="d-inline ml-3"><Strong>200</Strong></p>
            <p class="d-inline text-secondary"> Followers</p>
        </div>
    </div>
    <div class="row mt-3">
        <div class="container">
            <ul class="nav nav-fill nav-pills border-bottom">
                <li class="nav-item">
                    <a class="nav-link quadmenu quadmenu-active" href="#">Tweets</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link quadmenu" href="#">Tweets & Replies</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link quadmenu" href="#">Media</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link quadmenu" href="#">Likes</a>
                </li>
            </ul>
        </div>
    </div>

</div>