<li class="list-group-item  d-flex justify-content-start">
    <img class="img-fluid rounded-circle my-auto d-inline mr-2" src="https://source.unsplash.com/random/800x650" alt=""
        width="30px" height="30px">
    <P class="my-auto">This is a message</P>
</li>