<div class="border-bottom">
    <div class="form-group">
        <div class="row">
            <div class="col-2"></div>
            <div class="col-10">
                <small class="text-secondary">liked by...</small>
            </div>
        </div>
        <div class="row">
            <div class="col-2">
                <img class="img-fluid rounded-circle profilemini ml-3 mt-2"
                    src="https://source.unsplash.com/random/800x650" alt="">
            </div>
            <div class="col-10">
                <h6 class="d-inline">Dude</h6>
                <p class="d-inline text-secondary">@Nignog</p>
                <p class="d-inline text-secondary">· May 5</p>
                <p class="content">Squeak goes here</p>
                <div class="mr-3">
                    <a href="" class="link">
                        <div class="card">
                            <img src="https://source.unsplash.com/random/800x600" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">Card title</h5>
                                <p class="card-text text-secondary">Some quick example text to build on the card title
                                    and
                                    make up the bulk
                                    of
                                    the card's content.</p>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
        {{>squeakactions}}
    </div>
</div>