<div class="container">
    <ul class="list-unstyled">
        <div class="row no-gutters">
            <li class="col">
                <img class="rounded mini-media img-fluid" src="https://source.unsplash.com/random/500x500" alt="">
            </li>
            <li class="col">
                <img class="rounded mini-media img-fluid" src="https://source.unsplash.com/random/500x500" alt="">
            </li>
            <li class="col">
                <img class="rounded mini-media img-fluid" src="https://source.unsplash.com/random/500x500" alt="">
            </li>
        </div>
        <div class="row no-gutters">
            <li class="col">
                <img class="rounded mini-media img-fluid" src="https://source.unsplash.com/random/500x500" alt="">
            </li>
            <li class="col">
                <img class="rounded mini-media img-fluid" src="https://source.unsplash.com/random/500x500" alt="">
            </li>
            <li class="col">
                <img class="rounded mini-media img-fluid" src="https://source.unsplash.com/random/500x500" alt="">
            </li>
        </div>
    </ul>
</div>