<div class="list-group">
    <li class="list-group-item">
        <h4>User</h4>
        <small class="text-secondary d-inline">Handle</small>
    </li>
    <div class="message-display border-bottom list-group" id="message-display">
        {{>incomingmessage}}
        {{>mymessage}}
        {{>incomingmessage}}
        {{>mymessage}}
        {{>incomingmessage}}
        {{>mymessage}}
        {{>incomingmessage}}
        {{>mymessage}}
        {{>incomingmessage}}
        {{>mymessage}}
        {{>incomingmessage}}
        {{>mymessage}}
        {{>incomingmessage}}
        {{>mymessage}}
        {{>incomingmessage}}
        {{>mymessage}}
        {{>incomingmessage}}
        {{>mymessage}}
        {{>incomingmessage}}
        {{>mymessage}}
        {{>incomingmessage}}
        {{>mymessage}}
        {{>incomingmessage}}
        {{>mymessage}}
        {{>incomingmessage}}
        {{>mymessage}}
        {{>incomingmessage}}
        {{>mymessage}}
    </div>
</div>
<div class="row ">
    <div class="container">
        <form class="form">
            <div class="input-group col">
                <input type="text" class="form-control my-2" id="message" placeholder="Start a new message">
                <button class="btn btn-dark d-inline">Send</button>
            </div>
        </form>
    </div>
</div>
</div>