<a href="#" class="list-group-item list-group-item-action">
    <div>
        <img class="img-fluid rounded-circle my-auto d-inline" src="https://source.unsplash.com/random/800x650" alt=""
            width="30px" height="30px">
        <h5 class=" font-weight-bold">Notifcation</h4>
            <small class="text-secondary">Content</small>
    </div>
</a>