<form>
    <div class="input-group">
        <div class="input-group-prepend">
            <div class="input-group-text my-2"><img src="/icons/search.svg" width="20em" height="20em">
            </div>
        </div>
        <input type="text" class="form-control my-2" id="search" placeholder="Search Squeaker">
    </div>
</form>