<div class="row">
    <div class="d-flex justify-content-around container mt-3">
        <div class="col-1 mx-1">
            <div class="form-group">
                <input type="image" src="/icons/comment.svg" class="form-control-file squeakbar"
                    id="exampleFormControlFile1">
            </div>
        </div>
        <div class="col-1 mx-1">
            <div class="form-group">
                <input type="image" src="/icons/resqueak.svg" class="form-control-file squeakbar"
                    id="exampleFormControlFile1">
            </div>
        </div>
        <div class="col-1 mx-1">
            <div class="form-group">
                <input type="image" src="/icons/heart.svg" class="form-control-file squeakbar"
                    id="exampleFormControlFile1">
            </div>
        </div>
        <div class="col-1 mx-1">
            <div class="form-group">
                <input type="image" src="/icons/share.svg" class="form-control-file squeakbar"
                    id="exampleFormControlFile1">
            </div>
        </div>
    </div>
</div>