<div class="list-group">
    <li class="list-group-item border-right-0 border-left-0">
        <h5><strong>Home</strong></h5>
    </li>
    <div class="thickbottomborder">
        <form action="/home" method="POST" enctype="multipart/form-data">
            <div class="form-group">
                <div class="row">
                    <div class="col-2">
                        <img class="img-fluid rounded-circle profilemini ml-3 mt-2"
                            src="data:image/png;base64, {{user.avatar}}" alt="">
                    </div>
                    <div class="col-10">
                        <textarea name="content" class="form-control border-0 noHover mt-2 pr-2 fill twitterfont"
                            placeholder="What's happening?"
                            oninput='this.style.height = "";this.style.height = this.scrollHeight + "px"'
                            required></textarea>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-10">
                    <div class="row mt-1 ml-1">
                        <div class="col-2"></div>
                        <div class="col-1 mx-1">
                            <div class="form-group">
                                <label for="attachment">
                                    <img src="/icons/picture.svg" class="squeakbar pointer" />
                                </label>
                                <input type="file" src="/icons/picture.svg" class="form-control-file d-none"
                                    name="attachment" id="attachment">
                            </div>
                        </div>
                        <div class="col-1 mx-1">
                            <div class="form-group">
                                <input type="image" src="/icons/gif.svg" class="form-control-file squeakbar" id="gif">
                            </div>
                        </div>
                        <div class="col-1 mx-1">
                            <div class="form-group">
                                <input type="image" src="/icons/bar.svg" class="form-control-file squeakbar" id="poll">
                            </div>
                        </div>
                        <div class="col-1 mx-1">
                            <div class="form-group">
                                <input type="image" src="/icons/happy.svg" class="form-control-file squeakbar"
                                    id="emoji">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-2">
                    <button type="submit" class="btn btn-dark float-right mr-3 mb-2">Squeak</button>
                </div>
            </div>
        </form>
    </div>
</div>