<div class="border-bottom">
    <div class="form-group">
        <div class="row">
            <div class="col-2"></div>
            <div class="col-10">
                <small class="text-secondary">liked by...</small>
            </div>
        </div>
        <div class="row">
            <div class="col-2">
                <img class="img-fluid rounded-circle profilemini ml-3 mt-1"
                    src="https://source.unsplash.com/random/800x600" alt="">
            </div>
            <div class="col-10">
                <h6 class="d-inline">Dude</h6>
                <p class="d-inline text-secondary">@Nignog</p>
                <p class="d-inline text-secondary">· May 5</p>
                <p class="content">Squeak goes here</p>
            </div>
        </div>
        {{>squeakactions}}
    </div>
</div>