<div class="mt-3">
    <img src="/icons/rat.svg" class=" d-block mb-4 mx-2" width="40em" height="40em">

    <div class="mt-4">
        <a href="/" class="btn toolbarlink hovershadow"><img src="/icons/home.svg" class="toolbarsvg" width="30em"
                height="30em">
            <h5 class="toolbartext d-none d-lg-block">Home</h5>
        </a>
        <a href="/explore" class="btn toolbarlink hovershadow"><img src="/icons/hashtag.svg" class=" toolbarsvg"
                width="30em" height="30em">
            <h5 class="toolbartext d-none d-lg-block">Explore</h5>
        </a>
        <a href="/notifications" class="btn toolbarlink hovershadow"><img src="/icons/bell.svg" class="toolbarsvg"
                width="30em" height="30em">
            <h5 class="toolbartext d-none d-lg-block">Notifications</h5>
        </a>
        <a href="/messages" class="btn toolbarlink hovershadow"><img src="/icons/envelope.svg" class="toolbarsvg"
                width="30em" height="30em">
            <h5 class="toolbartext d-none d-lg-block">Messages</h5>
        </a>
        <a href="/bookmarks" class="btn toolbarlink hovershadow"><img src="/icons/bookmark.svg" class="toolbarsvg"
                width="30em" height="30em">
            <h5 class="toolbartext d-none d-lg-block">Bookmarks</h5>
        </a>
        <a href="/lists" class="btn toolbarlink hovershadow"><img src="/icons/list.svg" class="toolbarsvg" width="30em"
                height="30em">
            <h5 class="toolbartext d-none d-lg-block">Lists</h5>
        </a>
        <a href="/user/{{currentuser.id}}" class="btn toolbarlink hovershadow"><img src="/icons/user.svg"
                class="toolbarsvg" width="30em" height="30em">
            <h5 class="toolbartext d-none d-lg-block">Profile</h5>
        </a>
        <a href="#" class="btn toolbarlink hovershadow"><img src="/icons/more.svg" class="toolbarsvg" width="30em"
                height="30em">
            <h5 class="toolbartext d-none d-lg-block">More</h5>
        </a>
        <a href="#" class="btn btn-dark toolbarlink d-none d-lg-block">
            <h6 class="toolbartweet mt-1 ">Squeak</h6>
        </a>
    </div>
</div>