<div class="mt-3">
    <img src="/icons/rat.svg" class=" d-block mb-4 mx-2" width="40em" height="40em">

    <div class="mt-4">
        <a href="" class="btn toolbarlink"><img src="/icons/home.svg" class="toolbarsvg" width="30em" height="30em">
            <h5 class="toolbartext">Home</h5>
        </a>
        <a href="" class="btn toolbarlink"><img src="/icons/hashtag.svg" class=" toolbarsvg" width="30em" height="30em">
            <h5 class="toolbartext">Explore</h5>
        </a>
        <a href="" class="btn toolbarlink"><img src="/icons/bell.svg" class="toolbarsvg" width="30em" height="30em">
            <h5 class="toolbartext">Notifications</h5>
        </a>
        <a href="" class="btn toolbarlink"><img src="/icons/envelope.svg" class="toolbarsvg" width="30em" height="30em">
            <h5 class="toolbartext">Messages</h5>
        </a>
        <a href="" class="btn toolbarlink"><img src="/icons/bookmark.svg" class="toolbarsvg" width="30em" height="30em">
            <h5 class="toolbartext">Bookmarks</h5>
        </a>
        <a href="" class="btn toolbarlink"><img src="/icons/list.svg" class="toolbarsvg" width="30em" height="30em">
            <h5 class="toolbartext">Lists</h5>
        </a>
        <a href="" class="btn toolbarlink"><img src="/icons/user.svg" class="toolbarsvg" width="30em" height="30em">
            <h5 class="toolbartext">Profile</h5>
        </a>
        <a href="" class="btn toolbarlink"><img src="/icons/more.svg" class="toolbarsvg" width="30em" height="30em">
            <h5 class="toolbartext">More</h5>
        </a>
        <a href="" class="btn btn-dark toolbarlink">
            <h6 class="toolbartweet mt-1">Tweet</h6>
        </a>
    </div>
</div>