<div class="list-group mt-1">
    <li class="list-group-item">
        <h4>Trends for you</h4>
    </li>
    <a href="#" class="list-group-item list-group-item-action">
        <div>
            <small class="text-secondary">Trending in ...</small>
            <h5 class="font-weight-bold">Trend 1</h4>
                <p class="text-secondary">x Squeaks</p>
        </div>
    </a>
    <a href="#" class="list-group-item list-group-item-action">
        <div>
            <small class="text-secondary">Trending in ...</small>
            <h5 class="font-weight-bold">Trend 2</h4>
                <p class="text-secondary">x Squeaks</p>
        </div>
    </a>
    <a href="#" class="list-group-item list-group-item-action">
        <div>
            <small class="text-secondary">Trending in ...</small>
            <h5 class="font-weight-bold">Trend 3</h4>
                <p class="text-secondary">x Squeaks</p>
        </div>
    </a>
    <a href="#" class="list-group-item list-group-item-action">
        Show More
    </a>
</div>