<div class="currentuser d-flex">
    <button type="button" class="btn btn-primary" data-toggle="popover" data-placement="top" title="popover on top"
        data-content="Sed posuere consectetur est at lobortis. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum.">popover
        on top</button>
</div>