<div class="currentuser">
    <button type="button" class="btn btn-outline-dark" data-toggle="popover" data-placement="top" title="popover on top"
        data-content="Sed posuere consectetur est at lobortis. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum.">
        <div class="row">
            <div class="col-12 col-lg-5 my-auto">
                <img class="img-fluid rounded-circle profilxs" src="https://source.unsplash.com/random/800x600" alt="">
            </div>
            <div class="col-md-5 d-none d-lg-block mt-3">
                <h7>user</h7>
                <p class=" text-secondary">@user</p>
            </div>
        </div>
    </button>
</div>