<div class="list-group mt-2">
    <li class="list-group-item">
        <h4>Who To Follow</h4>
    </li>
    <a href="#" class="list-group-item list-group-item-action">
        <div class="row squeezewtf">
            <div class="col-md-3">
                <img class="img-fluid rounded-circle profilemini my-auto d-inline"
                    src="https://source.unsplash.com/random/800x600" alt="">
            </div>
            <div class="col-md-5">
                <ul class="list-unstyled">
                    <li class="handle">
                        Some Person 1
                    </li>
                    <li>
                        @person1
                    </li>
                </ul>
            </div>
            <div class="col-md-4">
                <Button class="btn btn-dark float-right d-inline mt-2">Follow</Button>
            </div>
        </div>
    </a>
    <a href="#" class="list-group-item list-group-item-action">
        <div class="row squeezewtf">
            <div class="col-md-3">
                <img class="img-fluid rounded-circle profilemini my-auto d-inline"
                    src="https://source.unsplash.com/random/803x600" alt="">
            </div>
            <div class="col-md-5">
                <ul class="list-unstyled">
                    <li class="handle">
                        Some Person 2
                    </li>
                    <li>
                        @person2
                    </li>
                </ul>
            </div>
            <div class="col-md-4">
                <Button class="btn btn-dark float-right d-inline mt-2">Follow</Button>
            </div>
        </div>
    </a>
    <a href="#" class="list-group-item list-group-item-action">
        <div class="row squeezewtf">
            <div class="col-md-3">
                <img class="img-fluid rounded-circle profilemini my-auto d-inline"
                    src="https://source.unsplash.com/random/800x650" alt="">
            </div>
            <div class="col-md-5">
                <ul class="list-unstyled">
                    <li class="handle">
                        Some Person 3
                    </li>
                    <li>
                        @person3
                    </li>
                </ul>
            </div>
            <div class="col-md-4">
                <Button class="btn btn-dark float-right d-inline mt-2">Follow</Button>
            </div>
        </div>
    </a>
    <a href="#" class="list-group-item list-group-item-action">
        Show More
    </a>
</div>